%h1.text-white Shops in CoffeeInAMin

%table.text-white
  %thead
    %tr
      %th Name
      %th Address
      %th Description
      %th Walking distance(miles)
      %th Duration(min)

  %tbody
    - @shops.zip(@routes).each do |shop,route|
      %tr
        %td= link_to shop.name, "/shops/" + shop.id.to_s, {:class => "coffeebutton"}
        %td{:class=>""}= shop.address
        %td= shop.description
        %td= route.distance
        %td= route.duration


