%h1.text-white Shops in CoffeeInAMin

%table.text-white
  %thead
    %tr
      %th Name
      %th Address
      %th Description
      %th Walking distance(miles)
      %th Duration(min)

  %tbody
    - @shops.each do |shop|
      %tr
        %td= link_to shop.name, "/shops/" + shop.id.to_s, {:class => "coffeebutton text-white "}
        %td{:class=>""}= shop.address
        %td= shop.description
        %td= @routes[shop].distance
        %td= @routes[shop].duration


