= form_with(url: "/shops/" + @shop.id.to_s, method: "put") do |f|
  = label_tag :name, "Name"
  = f.text_field :name, value: @shop.name
  = f.label :address, "Address"
  = f.text_field :address, value: @shop.address
  = f.label :description, "Description"
  = f.text_field :description, value: @shop.description
  -#= f.label :tmp1, "user_id"
  -#= f.text_field :tmp1, value: cookies[:user_id]
  -#= f.label :tmp2, "shop_id"
  -#= f.text_field :tmp2, value: @shop.owner_id
  = f.submit "Update" if cookies.signed[:user_id].to_s == @shop.owner_id.to_s

= link_to "Menu", "/shops/" + @shop.id.to_s + "/menu"