= form_with(url: "/shops/" + @shop.id.to_s, method: "put") do |f|
  = label_tag :name, "Name"
  = f.text_field :name, value: @shop.name
  = f.label :address, "Address"
  = f.text_field :address, value: @shop.address
  = f.label :description, "Description"
  = f.text_field :description, value: @shop.description
  = f.submit "Update" if cookies[:user_id].to_s == @shop.owner_id.to_s

= link_to "Menu", "/shops/" + @shop.id.to_s + "/menu"
= image_tag "https://maps.google.com/maps/api/staticmap?zoom=17&size=400x300&markers=#{@shop.latitude}%2C#{@shop.longitude}&key=#{Rails.application.credentials.google_maps_api_key}"
= link_to "Navigate", "https://www.google.com/maps/dir/?api=1&origin=#{@results.first.coordinates[0]}%2C#{@results.first.coordinates[1]}&destination=#{@shop.address}&travelmode=walking", target: "_blank", class: "btn btn-large btn-primary"
