- content_for :head do
  :javascript
    function google_onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      document.getElementById("id_token").value = id_token;
      document.getElementById("login-google-button").click();
    }

.row.justify-content-center
  .col-sm-10.col-md-8.col-lg-6
    = form_with(url: "/session/login", method: "post", local: true, style: "margin-top:20px", class: "text-white") do |f|
      = f.label :email, "Email"
      = f.text_field :email, class: "form-control"
      = f.label :password, "Password"
      = f.password_field :password, class: "form-control"
      = f.submit "Login", class: "btn btn-primary", style: "margin-top: 20px; margin-left: 5px"


.row.justify-content-center
  .col-sm-10.col-md-8.col-lg-6
    = form_with(url: "/session/login-google", method: "post", local: true, style: "margin-top:20px") do |f|
      = f.text_field :id_token, style: "display: none;"
      = f.submit "", id: "login-google-button", style: "display: none; margin-top: 20px;"

.row.justify-content-center
  .g-signin2(data-onsuccess="google_onSignIn" data-width="200" data-height="30"
    data-longtitle="true" style="margin-top:20px; margin-bottom: 20px")
