.row.justify-content-center
  .col-sm-10.col-md-8.col-lg-6
    = form_with(url: "/users", method: "post", local: true, style: "margin-top: 20px", class: "text-white") do |f|
      = f.label :email, "Email"
      = f.text_field :email, class: "form-control"
      = f.label :password, "Password"
      = f.password_field :password, class: "form-control"
      = f.label :name, "Name"
      = f.text_field :name, class: "form-control"
      = f.label :user_type, "User account", class: "form-check-label", for: "gridRadios1"
      = f.radio_button :user_type, 0
      = f.label :type_business, "Business account", class: "form-check-label", for: "gridRadios2"
      = f.radio_button :user_type, 1
      .form_actions(style="margin-top:20px")
        = f.submit "Register", class: "btn btn-primary"