= form_with(url: "/orders/" + @order.id.to_s + "/checkout", method: "post", class: "text-white") do |f|
  .field
    = f.hidden_field :order_id, value: @order.id.to_s
  .field
    = f.label :full_name
    = f.text_field :full_name, class: "form-control"
  .field
    = f.label :telephone
    = f.text_field :telephone, class: "form-control"
  .actions(style="margin-top: 15px")
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
          data: {amount: @order.price.to_i*100, description: @order.name, key: Rails.application.credentials.stripe_publishable_key}}
