= form_with(url: "/orders", method: "post") do |f|
  = f.label :name, "Name"
  = f.text_field :name
  = f.label :addresss, "Addresss"
  = f.text_field :address 
  = f.label :description, "Description"
  = f.text_field :description
  = f.submit "Add"