= form_with(url: "/items", method: "post") do |f|
  = label_tag :name, "Name"
  = f.text_field :name
  = label_tag :description, "Description"
  = f.text_field :description
  = label_tag :price, "Price"
  = f.text_field :price
  -#= label_tag :shop_id, "Shop ID"
  -#= f.text_field :shop_id, value: params[:shop_id]
  = f.hidden_field :shop_id, value: params[:shop_id]
  = f.submit "Add"