= form_tag(controller: :user, action: :update) do
  = label_tag :email, "Email"
  = text_field_tag :email, @user.email
  = label_tag :password, "Password"
  = password_field_tag :password, @user.password
  = label_tag :name, "Name"
  = text_field_tag :name, @user.name
  = label_tag :name, "Name"
  = link_to_if @user.user_type == 1,  "menu", root_path
  = submit_tag "Register"