-# In Rails layouts are stored in app/views/layouts and default layout name is application.html.erb and it is used if there is no layout that's name correspond with controller name. For example, photos controller would have photos.html.erb layout.


-# render <!DOCTYPE>
!!!

%html
  %head
    %title CoffeeInAMin
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = link_to 'Register', new_user_path unless cookies[:user_id]
    = link_to 'Sign in', session_path unless cookies[:user_id]
    = link_to 'Sign out', session_logout_path if cookies[:user_id]
    = link_to 'Orders', "/orders" if cookies[:user_id]
    = link_to 'Profile', "/users/" + cookies[:user_id].to_s if cookies[:user_id]
    = link_to 'Shops', "/shops" if cookies[:user_id]
    = yield 
