-# In Rails layouts are stored in app/views/layouts and default layout name is application.html.erb and it is used if there is no layout that's name correspond with controller name. For example, photos controller would have photos.html.erb layout.


-# render <!DOCTYPE>
!!!

%html
  %head
    %title CoffeeInAMin
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script(src="https://apis.google.com/js/platform.js")
    %meta(name="google-signin-client_id" content="575126619055-f79ettge14ha9aph5avt0v9muh22fssa.apps.googleusercontent.com")/

    :javascript
      //function signOut() {
        //document.cookie = "user_id=; expires = Thu, 01 Jan 1970 00:00:00 GMT";
        //google_signOut();
      //}

      //function google_signOut() {
        //var auth2 = gapi.auth2.getAuthInstance();
        //auth2.signOut().then(function () {
          ////alert('Google user signed out.');
        //});
      //}

    = yield :head

  %body
    = link_to "Home", "/"
    = link_to 'Register', new_user_path unless cookies.signed[:user_id]
    = link_to 'Sign in', session_path unless cookies.signed[:user_id]
    -# link_to 'Sign out', "/", onClick: "signOut();" if cookies.signed[:user_id]
    = link_to 'Sign out', "/session/logout" if cookies.signed[:user_id]
    = link_to 'Orders', "/orders" if cookies.signed[:user_id]
    = link_to 'Profile', "/users/" + cookies.signed[:user_id].to_s if cookies.signed[:user_id]
    = link_to 'Shops', "/shops" if cookies.signed[:user_id]
    = yield 
